<div class="panel panel-primary" ng-repeat= "article in articles">
  <div class="panel-heading"><h3>{{article.title}}</h3></div>
  <div class="panel-body">
    {{article.summary}}
  </div>
  <div class="panel-footer">Panel footer</div>
</div>